.form {
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form__input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #a3a3a3;
  outline: none;
}
.form__input-btn {
  width: 100%;
  background-color: blue;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.alert {
  padding: 1rem;
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}
.alert__text {
  background-color: rgba(255, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 0.5rem;
}