.contact {
  width: 80%;
  margin: 2rem auto;
}
.contact__list {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.no__contact {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e4e4e4;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.item:last-child {
  margin-bottom: 0;
}
.item__btn {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}